Repository data-dev-course/project4-team1, pull requests merged in 2023-08, with the labels that each got.

#19 Update .gitignore
  .gitignore
Labels: etc

#23 Develop tjpark
  django/seoulInfoProject/makedata.py
Labels: Test

#26 develop server에 배포 실패 수정
  .github/workflows/django_CD_dev.yml
Labels: Django, Fix

#29 fix: migrate error
  django/seoulInfoProject/info_app/migrations/0001_initial.py
  django/seoulInfoProject/info_app/models.py
Labels: Django, Test, Fix

#31 update : airflow requirements.txt
  airflow/Dags/s3toRDS_test.py
  airflow/requirements.txt
Labels: Airflow

#32 update : airflow requirements.txt (#31)
  airflow/Dags/s3toRDS_test.py
  airflow/requirements.txt
Labels: Airflow

#33 Develop airflow news
  airflow/Dags/news_quarter.py
  airflow/var.json
Labels: Airflow

#34 news 데이터 dag 추가 (#33)
  airflow/Dags/news_quarter.py
  airflow/var.json
Labels: Airflow

#37 add : weather images
  django/seoulInfoProject/static/images/weather/ico_w_cloud_and_sun.png
  django/seoulInfoProject/static/images/weather/ico_w_cloudy.png
  django/seoulInfoProject/static/images/weather/ico_w_rain.png
  django/seoulInfoProject/static/images/weather/ico_w_sunny.png
  django/seoulInfoProject/static/images/weather/ico_weather_rain.png
  django/seoulInfoProject/static/images/weather/ico_weather_uv.png
Labels: Django

#38 add : weather images (#37)
  django/seoulInfoProject/static/images/weather/ico_w_cloud_and_sun.png
  django/seoulInfoProject/static/images/weather/ico_w_cloudy.png
  django/seoulInfoProject/static/images/weather/ico_w_rain.png
  django/seoulInfoProject/static/images/weather/ico_w_sunny.png
  django/seoulInfoProject/static/images/weather/ico_weather_rain.png
  django/seoulInfoProject/static/images/weather/ico_weather_uv.png
Labels: Django

#41 Develop django weather
  django/seoulInfoProject/info_app/filter.py
  django/seoulInfoProject/info_app/views.py
  django/seoulInfoProject/templates/infoPages/weather.html
Labels: Django

#42 Develop Django
  django/seoulInfoProject/info_app/filter.py
  django/seoulInfoProject/info_app/views.py
  django/seoulInfoProject/templates/infoPages/weather.html
Labels: Django

#43 Develop django news
  django/seoulInfoProject/.ebextensions/00_setvars.config
  django/seoulInfoProject/.ebextensions/01_packages.config
  django/seoulInfoProject/.ebextensions/03_crontab.config
  django/seoulInfoProject/cron/cron.py
  django/seoulInfoProject/cron/env.py
  django/seoulInfoProject/cron/rm_news.sh
  django/seoulInfoProject/info_app/view/news.py
  django/seoulInfoProject/info_app/views.py
  django/seoulInfoProject/seoulInfoProject/settings/settings.py
  django/seoulInfoProject/templates/infoPages/news.html
Labels: Django

#45 Develop django restaurant
  django/seoulInfoProject/info_app/filter.py
  django/seoulInfoProject/info_app/models.py
  django/seoulInfoProject/info_app/views.py
  django/seoulInfoProject/templates/infoPages/restaurant.html
Labels: Django

#46 feat : none 값 처리
  django/seoulInfoProject/info_app/views.py
  django/seoulInfoProject/templates/infoPages/restaurant.html
Labels: Django

#49 add : seoul_data dag
  airflow/Dags/seoul_api.py
  airflow/Dags/seoul_api_data.py
  airflow/var.json
Labels: Airflow

#51 add: 썸네일 이미지 추가
  django/seoulInfoProject/info_app/view/news.py
  django/seoulInfoProject/info_app/views.py
  django/seoulInfoProject/requirements.txt
  django/seoulInfoProject/templates/infoPages/news.html
Labels: Django

#50 Develop
  airflow/Dags/seoul_api.py
  airflow/Dags/seoul_api_data.py
  airflow/var.json
  django/seoulInfoProject/info_app/view/news.py
  django/seoulInfoProject/info_app/views.py
  django/seoulInfoProject/requirements.txt
  django/seoulInfoProject/templates/infoPages/news.html
Labels: Airflow

#52 fix: elastic beanstalk 환경에서 data 폴더 권한 문제
  django/seoulInfoProject/.ebextensions/03_crontab.config
  django/seoulInfoProject/cron/chmod_news.sh
  django/seoulInfoProject/cron/cron.py
Labels: Django, Fix

#53 [hotfix] fix: elastic beanstalk 환경에서 data 폴더 권한 문제 (#52)
  django/seoulInfoProject/.ebextensions/03_crontab.config
  django/seoulInfoProject/cron/chmod_news.sh
  django/seoulInfoProject/cron/cron.py
Labels: Django, etc

#54 add: area_nm relpace 괄호 처리 추가
  django/seoulInfoProject/info_app/view/news.py
Labels: Django, Fix

#55 [hotfix] add: area_nm relpace 괄호 처리 추가 (#54)
  django/seoulInfoProject/info_app/view/news.py
Labels: Django, Fix

#58 Develop django (#57)
  airflow/Dags/S3toRDS.py
  airflow/Dags/S3toRDS_hourly.py
  django/seoulInfoProject/info_app/filter.py
  django/seoulInfoProject/info_app/views.py
  django/seoulInfoProject/static/css/style.css
  django/seoulInfoProject/static/images/ico_future.png
  django/seoulInfoProject/static/js/chart/congest_bar_chart.js
  django/seoulInfoProject/templates/base.html
  django/seoulInfoProject/templates/infoPages/population.html
  django/seoulInfoProject/templates/infoPages/restaurant.html
  django/seoulInfoProject/templates/infoPages/weather.html
  django/seoulInfoProject/templates/partialPages/congest_summary.html
  django/seoulInfoProject/templates/partialPages/nav_bar.html
Labels: Airflow, Django

#59 Develop django
  airflow/Dags/S3toRDS.py
  airflow/Dags/S3toRDS_hourly.py
  django/seoulInfoProject/info_app/filter.py
Labels: Airflow
